<h1>All Available Ships:</h1>

<%@ships.each do |ship|%>
  <h3><%=ship.name%></h3>

  <%= render partial: "ship_info", locals: {ship: ship} %>

<%end%>

<%=link_to("Homepage", root_path)%><br>

<%=link_to("Largest Ship", ship_path(largest_ship))%>
