<h1>All Available Ships:</h1>


<%@ships.each do |ship|%>
    <h3><%=ship.name%> - Captain: <%=ship.captain.name%></h3>
    <%= render partial: "ship_info", locals: {ship: ship} %>
<%end%>
<br>
<!-- <%=link_to("Largest Ship", ships_largest_ship_path)%>
<link rel="stylesheet" href="/ships/largest_ship"> -->

<a class="largest_ship_link" href="/ships/largest_ship">Largest Ship</a>
