/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'passengers'
 */

h1 {
  color: #98b5e6;
}

.header {
  background-color: #92D7F4;
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

body {
  margin-top: 80px;
  font-family: Optima, sans-serif;
  background: #142a52;
  margin-bottom: 60px;
}

div.header a.links {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  font-family: Optima, sans-serif;
  color: blue;
}

div.header a.links:hover {
  text-decoration: none;
  color: white;
}

.links:hover {
  text-decoration: none;
  color: white;
}

a:link {
  text-decoration: none;
  color: #98b5e6;
}

a {
  color: #98b5e6;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: blue;
}

/* .style_image {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.2;
  z-index: -1;
  height: 100%;
} */

.link {
  color: #98b5e6;
}
.link:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.excursion_title {
  color: white;
}

.ship_div {
  display: inline-block;
  border-style: solid;
  border-width: 3px;
  border-color: #98b5e6;
  background-color: #98b5e6;
  border-radius: 5px;
  width: 46%;
  padding-left: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
}

footer {
  width: 100%;
  background-color: #142a52;
  position: fixed;
  bottom: 0;
  padding-left: 10px;
}

.largest_ship {
  padding-bottom: 40px;
}

.ships_header {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  color: #98b5e6
}

.check {
  margin-left: 15px;
}

.check_head {
  margin-left: 15px;
  color: #98b5e6;
}

a.largest_ship_link {
  margin-left: 15px;
  color: #98b5e6;
}

.ship-img {
  max-width: 60px;
  max-height: 60px;
  position: absolute;
  top: 6px;
  right: 15px;
}

.ship-img:hover {
  cursor: pointer;
}

.passenger-box {
  border-style: solid;
  border-width: 3px;
  border-color: #1f3d7a;
  background-color: #1f3d7a;
  border-radius: 5px;
  padding-left: 20px;
  width: 700px;
}

.excursion-box {
  border-style: solid;
  border-width: 3px;
  border-color: #1f3d7a;
  background-color: #1f3d7a;
  border-radius: 5px;
  padding-left: 20px;
  width: 700px;
  margin-top: 10px;
}

.add_excursion {
  margin-left: 8px;
}

.add_excursion_div {
  margin-top: 5px;
  padding-bottom: 10px;
}

.advertising-box {
  border-style: solid;
  border-width: 3px;
  border-color: #98b5e6;
  background-color: #98b5e6;
  border-radius: 5px;
  /* padding-top: -10px; */
  padding-bottom: 30px;
  width: 100%;
}

.advertising-img {
  float: left;
  display: inline-block;
  margin-left: 13px;
  margin-top: 10px;
  width: 32%;
  height: 350px;
}

.ad-img {
  width: 100%;
  height: inherit;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}

.login-form {
  padding: 10px;
  width: 18%;
  border-style: solid;
  border-width: 3px;
  border-color: #d9d9d9;
  background-color: #d9d9d9;
  border-radius: 5px;
}

#name {
  position: relative;
  left: 10px;
  margin-bottom: 8px;
  width: 62%;
}

#passenger_name {
  position: relative;
  left: 10px;
  margin-bottom: 8px;
  width: 62%;
}

#password {
  position: relative;
  left: 18px;
  margin-bottom: 8px;
  width: 62%;
}

#passenger_password {
  position: relative;
  left: 18px;
  margin-bottom: 8px;
  width: 62%;
}

.login-submit {
  width: 100%;
  height: 25px;
  background: #70db70;
  font-size: 15px;
  font-family: Optima, sans-serif;
  border-style: solid;
  border-width: 3px;
  border-color: #70db70;
  border-radius: 5px;
}

#filter {
  color: #98b5e6;
}

.alert {
  color: #98b5e6;
  margin-bottom: 10px;
}

a.facebook {
  color: #98b5e6;
}
