/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'passengers'
 */

h1 {
  color: blue;
}

.header {
  background-color: #92D7F4;
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

body {
  margin-top: 60px;
}

.links {
  display: inline-block;
  padding-right: 15px;
}

a:link {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: blue;
}

.style_image {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.2;
  z-index: -1;
  height: 100%;
}

.link {
  color: blue;
}
.link:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.excursion_title {
  color: blue;
}

.ship_div {
  display: inline-block;
  border-style: solid;
  border-width: 3px;
  border-color: #d9d9d9;
  background-color: #ffffff;
  border-radius: 10px;
  width: 46%;
  padding-left: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
}

footer {
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0;
  padding-left: 10px;
}

.largest_ship {
  padding-bottom: 40px;
}

.ships_header {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}
