<h1>Welcome to your Cruise Navigator!</h1>

<br>
<div class="all_ships">
  <img class="ship-img" onclick="learnLink()" src="https://dumielauxepices.net/sites/default/files/monitor-lizard-clipart-transparent-background-686908-3653187.png" alt="Cruise Ship">
  <div class="advertising-box clearfix">
    <img class="advertising-img" src="https://i.imgur.com/mn951Zd.png" alt="Labodee">
    <img class="advertising-img"  src="https://i.imgur.com/6B32s8x.png" alt="Bahamas">
    <img class="advertising-img"  src="https://i.imgur.com/PRgnMkf.png" alt="St. Marteen">
  </div>
  <!-- <span class="link learn_link" onclick="learnLink()">Learn about the differnet ships</span> -->
</div>
<div class="largest_ship">

</div>
