<h1>Welcome to your Cruise Navigator!</h1>

<br>
<div class="all_ships">
  <span class="link learn_link" onclick="learnLink()">Learn about the differnet ships</span>
</div>
<div class="largest_ship">

</div>
