<h1>Welcome to your Cruise Navigator!</h1>

<%=link_to('Login', login_path)%><br>
<%= link_to('Log in with Facebook!', '/auth/facebook') %><br>

<%=link_to("Sign Up", new_passenger_path)%><br><br>

<%=link_to("Learn about the differnet ships", ships_path)%>
