<h1>Welcome to your Cruise Navigator!</h1>

<br>
<div class="all_ships">
  <span onclick="learnLink()"><%= image_tag("ship.png", :alt => "Cruise Ship", :class => "ship-img") %></span> 

  <!-- <img class="ship-img" onclick="learnLink()" src="https://dumielauxepices.net/sites/default/files/monitor-lizard-clipart-transparent-background-686908-3653187.png" alt="Cruise Ship"> -->

  <div class="advertising-box clearfix">
    <div class="advertising-img">
      <%= image_tag("labadee.png", :alt => "labadee", :class => "ad-img") %>
      <!-- <img class="ad-img" src='assets/labadee.png' alt="Labadee"> -->
      <span>Labadee</span>
    </div>
    <div class="advertising-img">
      <%= image_tag("bahamas.png", :alt => "bahamas", :class => "ad-img") %>
      <!-- <img class="ad-img" src="assets/bahamas.png" alt="Bahamas"> -->
      <span>Bahamas</span>
    </div>
    <div class="advertising-img">
      <%= image_tag("marteen.png", :alt => "marteen", :class => "ad-img") %>
      <!-- <img class="ad-img" src="assets/marteen.png" alt="St. Maarten"> -->
      <span>St. Maarten</span>
    </div>
  </div>
  <!-- <span class="link learn_link" onclick="learnLink()">Learn about the differnet ships</span> -->
</div>
<div class="largest_ship">

</div>
