<h1>Welcome to your Cruise Navigator!</h1>

<br>
<div class="all_ships">
  <img class="ship-img" onclick="learnLink()" src="https://dumielauxepices.net/sites/default/files/monitor-lizard-clipart-transparent-background-686908-3653187.png" alt="Cruise Ship">
  <!-- <span class="link learn_link" onclick="learnLink()">Learn about the differnet ships</span> -->
</div>
<div class="largest_ship">

</div>
